---
import { getCollection } from 'astro:content';
import BaseLayout from "@layouts/BaseLayout.astro";
import LazyCard from '@components/LazyCard.vue';
import Title from '@components/Layout/Title.astro';

const title = 'People';
const entries = await getCollection('people');
---
<BaseLayout title={title}>
  <Title>{title}</Title>
  <ul class="flex flex-wrap p-0 list-none gap-y-5 -mx-5 lg:gap-y-10">
    {entries.map((entry) => (
      <li class="block w-full px-5 md:w-1/2">
        <LazyCard
          client:visible
          title={entry.data.title}
          subtitle={entry.data.short_description}
          link={{
            href: '/people/' + entry.slug,
            text: 'Read more'
          }}
          image={entry.data.banner_image}
        />
      </li>
    ))}
  </ul>
</BaseLayout>
