---
import { getCollection } from "astro:content";
import Card from "@components/Card.vue";

interface Props {
  className: string;
  columnClassName: string;
  identifiers: array;
  maxCards: number;
}

const { className, columnClassName, identifiers, maxCards } = Astro.props;
let entries = [];
let facetEntries = await getCollection('facets');
facetEntries = facetEntries.filter((entry) => (
  identifiers.includes(entry.id)
));
facetEntries.forEach((entry) => {
  let categories = entry.data['facet-categories'];
  categories = categories.map((category) => {
    category.facetId = entry.id;
    return category;
  })

  entries = entries.concat(categories);
});
entries = entries.slice(0, maxCards);
---

{entries.map((entry) => (
  <li class={columnClassName}>
    <Card
      client:visible
      className={className}
      title={entry.title}
      image={entry.banner_image}
      subtitle={`${entry.entries.length} items`}
      link={{
        href: `/facets/${entry.facetId}/${entry.id}`,
        text: "Read more"
      }}
    />
  </li>
))}