---
import { getCollection } from 'astro:content';
import BaseLayout from "@layouts/BaseLayout.astro";
import FacetHeader from "@components/FacetHeader.astro";
import CollectionGrid from "@components/CollectionGrid.astro";

// Generate a new path for every collection entry
export async function getStaticPaths() {
  const facetEntries = await getCollection('facets');
  const facetCategories = [];

  facetEntries.forEach((facet) => {
    if (facet.data['facet-categories']) {
      facet.data['facet-categories'].forEach((entry) => {
        facetCategories.push({
          params: { facet: facet.id, category: entry.id }, props: { entry, facet },
        });
      });
    }
  });

  return facetCategories;
}

const { entry, facet } = Astro.props;
const title = entry.title;
const facetCategories = facet.data['facet-categories'];
const results = entry.entries;
---
<BaseLayout title={title}>
  <div class="filter">
    <FacetHeader facet={facet} facetCategories={facetCategories} currentFacetCategory={entry} />
    <h2 class="text-xl mt-6 font-semibold">Maps</h2>
    <CollectionGrid contentType="maps" columns={3} identifiers={results} />
  </div>
</BaseLayout>
